body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.product-page {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.main-image-container {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.main-image {
    position: relative;
    width: 100%;
}

#mainImg {
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.nav-arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.prev-btn, .next-btn {
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    color: #fff;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.prev-btn:hover, .next-btn:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #fff;
    font-size: 24px;
    transition: color 0.3s ease-in-out;
}

.close-btn:hover {
    color: rgba(255, 255, 255, 0.8);
}

.additional-images {
    margin-bottom: 20px;
}

.small-img {
    width: 80px;
    margin: 0 5px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.3s ease-in-out;
}

.small-img:hover {
    border-color: #000;
}
.small-img.focused {
    border: 2px solid #007bff; /* Example: Blue border */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Example: Shadow effect */
}